<% if can? :new, @order %>
    <center><h3><p><%= link_to "Add new Order", {:action => 'new' }%></p></h3></center>
<% end%>

<% if @orders.blank? %>
	<p class='empty-list'> There are no orders currently in the system.</p>
<% else %>
	<table id="orders" class="table table-bordered">
		<thead>
	  	<tr>
				<th>id</th>
	    	<th>From city</th>
	    	<th>To city</th>
	    	<th>Date</th>
				<th>Status</th>
				<%if(current_user.role == 'admin') %>
					<th>user.id</th>
				<% end %>
	    	<th>Info</th>
				<th>Flow</th>
	  	</tr>
		</thead>
	<!-- <p> These are the current orders in our system</p> -->
	<tbody>
		<% @orders.order(:id).each do |order| %>
  		<tr>
    		<td><%= order.id %></td>
    		<td><%= order.from_city_name %></td>
				<td><%= order.to_city_name %></td>
				<td><%= order.from_date %></td>
				<td><%= order.status %></td>
				<%if(current_user.role == 'admin') %>
					<td><%= order.user_id %></td>
				<% end %>
				<td>
					<%if(order.order_conditions.length != 0) %>
						<font color="green" data-toggle="modal" data-target="#modal-<%= order.id %>">
  						Conditions
						</font>

						<div class="modal fade" id="modal-<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel-<%= order.id %>">
  						<div class="modal-dialog" role="document">
    						<div class="modal-content">
      						<div class="modal-header">
        						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        						<h4 class="modal-title" id="modalLabel-<%= order.id %>">Order conditions</h4>
      						</div>
      						<div class="modal-body">
        						<% order.order_conditions.each do |order_condition| %>
											<b><%= order_condition.condition.name %></b>:
											<%if(order_condition.condition.value_type == 'I') %>
												<%= order_condition.number_value%>
											<%elsif(order_condition.condition.value_type == 'C')%>
												<%= order_condition.condition_param.name%>
											<%else%>
												<%= order_condition.string_value%>
											<% end %>
											<br/>
										<% end %>
      						</div>
      						<div class="modal-footer">
        						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      						</div>
    						</div>
  						</div>
						</div>
					<%else%>
						<font color="red">
							Conditions
						</font>
					<% end %>
				</td>
				<td>
					<%if order.status == 'Open' %>
						<%= link_to "Cancel", "cancel/#{order.id}", method: :patch %>
					<% end %>
				</td>
  		</tr>
		<% end %>
	</tbody>
</table>

<script>
	$(document).ready(function() {
    	$('#orders').DataTable({
        	"order": [[ 0, "desc" ]]
    	});
	});
</script>

<% end %>
