<script type="text/javascript">

function formatCity (city) {
  return city.label;
}

function formatCitySelection (city) {
  return city.label;
}

$(document).ready(function(){

  $(".city_loading").select2({
    ajax: {
      url: function (params){
        return '<%= get_stations_url('x').chomp('x')%>'+ params.term;
        // return 'http://localhost:3000/places/get_stations/' + params.term;
      },
      dataType: 'json',
      delay: 1000,
      processResults: function (data) {
        return {
          results: data
        };
      },
      cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 3,
    templateResult: formatCity,
    templateSelection: formatCitySelection
  });
});
</script>



<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1 class="text-center">Create your order</h1>
      <%= form_tag 'create', :id => 'order-form', class: 'full-width-form' do %>
        <div class="form-group">
          <p><label for = "from_city_id">From</label><br/>
						<select required class="city_loading" id="from_city_id" name="orders[from_city_id]">
            </select>
					</p>
        </div>

      	<p><label for = "to_city_id">To</label><br/>
          <select required class="city_loading" id="to_city_id" name="orders[to_city_id]">
          </select>
        </p>

        <input type="hidden" id="from_city_name" name="orders[from_city_name]">
        <input type="hidden" id="to_city_name" name="orders[to_city_name]">

      	<p><label for = "from_date">Date</label><br/>
      	<%= date_field 'orders', 'from_date', class: 'input-block', value: Time.now.strftime("%Y-%m-%d") %></p>


      	<% @condition_groups.each do |condition_group| %>
      		<div>
            <hr/>
      		  <%= condition_group.condition_name %> <%= check_box_tag "on[#{condition_group.id}]" %>
            <div>
      			  <hr/>
      		    <% condition_group.conditions.each do |condition| %>
      			    <% if condition.value_type == 'C' %>
      					  <%= condition.name %>
      					  <br/>
      					  <%= select_tag "#{condition_group.id}[#{condition.id}]", options_for_select(condition.condition_params.map {|u| [u.name, u.id]}), :multiple => true  %>
      			    <% elsif condition.value_type == 'S' %>
                <%= condition.name %>
      					  <br/>
      					  <%= text_field condition_group.id, condition.id -%><br/>
      			    <% else %>
      			      <%= condition.name %>
      					  <br/>
      					  <%= number_field condition_group.id, condition.id -%><br/>
      			    <% end %>
      			  <% end %>
            </div>
      		</div>
      	<% end %>
      	<hr/>

        <button class="btn btn-success center-block" id="create-button">Create</button>
      <% end -%>
    </div>
  </div>
</div>

<script>

var form = document.getElementById("order-form");

document.getElementById("create-button").addEventListener("click", function () {
  var fc = document.getElementById("select2-from_city_id-container");
  var fcText = fc.innerHTML;

  var tc = document.getElementById("select2-to_city_id-container");
  var tcText = tc.innerHTML;

  document.getElementById("from_city_name").value = fcText
  document.getElementById("to_city_name").value = tcText

  form.submit();
});

//Show&hide condition groups
var allInputs = document.getElementsByTagName("input");
for (var i = 0, max = allInputs.length; i < max; i++){
    if (allInputs[i].type === 'checkbox'){
      allInputs[i].parentNode.childNodes[5].style.display = 'none';
      allInputs[i].addEventListener('change', function(){
        if(this.checked == true){
          this.parentNode.childNodes[5].style.display = 'inline';
          var subInputs = this.parentNode.childNodes[5].getElementsByTagName("input");
          var subSelects = this.parentNode.childNodes[5].getElementsByTagName("select");

          for(var j = 0; j < subInputs.length; j++){
            subInputs[j].required = true;
          }

          for(var j = 0; j < subSelects.length; j++){
            subSelects[j].required = true;
          }
        }else{
          this.parentNode.childNodes[5].style.display = 'none';
          var subInputs = this.parentNode.childNodes[5].getElementsByTagName("input");
          var subSelects = this.parentNode.childNodes[5].getElementsByTagName("select");

          for(var j = 0; j < subInputs.length; j++){
            subInputs[j].required = false;
          }

          for(var j = 0; j < subSelects.length; j++){
            subSelects[j].required = false;
          }
        }
      });
    }
}

</script>
