<!DOCTYPE html>
<html>
  <head>
    <title>RailwayTickets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <% if user_signed_in? %>
        <p class="text-right">You are logged as <%= current_user.email %></p>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'pull-right') %>
        <% else %>
          <%= link_to('Login', new_user_session_path, class: 'pull-right')  %>
        <% end %>
      </div>

    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
