<!DOCTYPE html>
<html>
  <head>
    <title>Railway Tickets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Yandex Team</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
            <li><a href="#contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            <li><a href="#feedback"><span class="glyphicon glyphicon-list-alt"></span> Feedback</a></li>
            <li><a href="/order/list"><span class="glyphicon glyphicon-dashboard"></span> Order</a></li>
          </ul>
          <p class="text-right">
            <% if user_signed_in? %>
              <font color="white">You are logged as <%= current_user.email %></font>
              <br/>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'pull-right') %>
            <% else %>
              <font size="6"><%= link_to('Login', new_user_session_path, class: 'pull-right')  %></font>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="header-top">
    </div>
    <br/>
    <div class="container">
      <% if notice %>
        <p class="alert alert-info text-center"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning text-center"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
